/*#########*/
/*# RESET #*/
/*#########*/

*, *:before, *:after {
 box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img,
b, ol, ul, li, table, tbody, tfoot, thead, tr, th, td,
figure, footer, header, nav, section {
 margin: 0;
 padding: 0;
 border: 0;
 font: inherit;
 font-size: 100%;
 vertical-align: baseline;
}

figure, footer, header, nav, section {
 display: block;
}

html, body {
 box-sizing: border-box;
}

ol, ul {
 list-style: none;
}

/*###################*/
/*# BASIC STRUCTURE #*/
/*###################*/

body {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	background-color: white;
	color: #444444;
	padding-top: 55px;
	text-align: center;
}

/*###########*/
/*# NAV BAR #*/
/*###########*/

nav {
	font-weight: 400;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	border-top: 10px solid #F5F5F5;
	background-color: white;
	border-bottom: 1px solid #EEEEEE;
	z-index: 1;
}

nav ul {
	max-width: 910px;
	margin: auto;
	background-color: white;
	text-transform: uppercase;
	padding: 0;
	font-size: 13px;
}

nav li {
	margin: 0 25px;
	display: inline;
	line-height: 44px;
	white-space: nowrap;
}

/*##############*/
/*#   HEADER   #*/
/*##############*/

header {
	box-sizing: border-box;
	padding-top: 150px;
	height: 428px;
	margin: 0;
	background-image: url("../images/header_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	font-size: 13px;
	font-weight: 400;
	color: white;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 31px;
	text-transform: uppercase;
}

header img {
	width: 80px;
	height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}


/*######################*/
/*#   OVERALL LAYOUT   #*/
/*######################*/

section {
	border-top: 1px solid #EEEEEE;
	margin: 0 30px 59px;
	text-align: left;
}

section>p {
	margin: 0 auto 17px auto;
	font-size: 16px;
	color: #444444;
	font-weight: 300;
	max-width: 960px;
	line-height: 25px;
	text-align: left;
}

section>h3 {
	font-size: 48px;
	font-weight: 300;
	margin: 59px 0 30px 0;
	text-align: center;
}

/*##################*/
/*#   HYPERLINKS   #*/
/*##################*/

a {
	text-decoration: none;
}

nav a {
	color: #444444;
}

a:hover {
	text-decoration: underline;
}

.standard-link {
	font-size: inherit;
	font-weight: bold;
	color: #008000;
	cursor: pointer;
}

td .standard-link {
	display: block;
	margin-top: 8px;
}

#speaker-grid .standard-link {
	font-size: 24px;
}

.block-link {
	display: inline-block;
	background-color: #00801F;
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;
	color: white;
	padding: 0 30px;
	margin: -7px 0 10px;
}

.block-link:hover {
	text-decoration: none;
	background-color: #006224;
}

#call-for-papers .block-link {
	margin-top: -20px;
	margin-bottom: -20px;
}

/*###########*/
/*# TICKETS #*/
/*###########*/

#tickets {
	text-align: center;
}

#tickets>p {
	line-height: inherit;
	text-align: center;
	margin-top: 31px;
}


/*############*/
/*# SPEAKERS #*/
/*############*/


#speaker-grid {
	box-sizing: content-box;
	max-width: 1000px;
	margin: 0 auto 60px auto;
	font-size: 13px;
	text-align: center;
	padding: 0;
}

#speaker-grid h4 {
	margin: 30px 0 4px 0;
}

#location>p {
	text-align: left;
}

#speakers figure p {
	line-height: 25px;
	font-size: 16px;
	margin: 0 10px;
}

figure {
	background-color: white;
	vertical-align: top;
	display: inline-block;
	height: 378px;
	width: 280px;
  	border: 1px solid #e8e8e8;
  	margin: 5px;
  	position: relative;

}

figure img {
	width: 280px;
	height: auto;
}

/* hover textboxes */

.hover-text {
	font-weight: 300;
	background-color: rgba(0, 0, 0, .9);
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: all .5s;
	padding: 0 10px;
}

#speaker-grid .hover-text p {
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 17px;
	color: white;
}
#speaker-grid .hover-text .standard-link {
	font-size: 13px;
	line-height: 15px;
}

#speaker-grid .hover-text h4 .standard-link {
	font-size: 24px;

}

#team-info h4 {
	font-size: 31px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 8px;
}

#speaker-grid .hover-text h4 {
	margin-top: 23px;
	margin-bottom: 7px;
}

#speaker-grid .hover-text:hover {
	opacity: .99;
}

/*###########*/
/*# SCHEDULE #*/
/*############*/

table {
 	border-collapse: separate;
 	font-weight: 400;
 	border-spacing: 2px;
	font-size: 13px;
	color: #444444;
	max-width: 960px;
	text-align: left;
	border-bottom: 1px solid #EFEFEF;
	margin: 0 auto 60px;
}

tr {
	width: 100%;
}

table img {
	width: 130px;
	height: auto;
	vertical-align: middle;
	margin-bottom: 4px;
}

span.tag {
	font-size: 7px;
	color: #444444;
	background-color: #EEE;
	border: 1px solid #A8A9A9;
	padding: 1px 4px;
}

td {
	padding: 10px;
	border-top: 1px solid #EFEFEF;
	vertical-align: middle;
}

td.schedule-event {
	padding-right: 30px;
}

table h3 {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
}

#schedule td.schedule-event h4 {
	font-size: 18px;
}

td.schedule-time {
	font-size: 24px;
}

/*############*/
/*# LOCATION #*/
/*############*/


#map-container {
	margin: 30px 0;
	height: 500px;
}

#map {
	box-sizing: border-box;
	background-color: #A6D9FD;
	height: 500px;
	line-height: 500px;
	position: absolute;
	left: 0;
	right: 0;
}

#hotel-name {
	margin-bottom: 0;
	font-weight: 700;
}

/*############*/
/*# SPONSORS #*/
/*############*/


.sponsor-class {
	margin: 0 auto;
	max-width: 960px;
	margin-bottom: 17px;
	line-height: 25px;
}

#sponsors h5 {
	font-size: 18px;
	line-height: 25px;
	color: #444444;
	font-weight: 600;
	text-align: left;
	margin: 30px 0 4px 0;
}

#sponsors img {
	height: auto;
	margin: 0;
}

#sponsors a {
	margin: 0 40px 0 0;
}

#sponsors #platinum a {
	margin: 0;
}
#sponsors #platinum img {
	width: 300px;
}

#sponsors #gold img {
	width: 300px;
}

#sponsors #silver img {
	width: 240px;
	height: auto;
}

#sponsors #support img {
	width: 180px;
	height: auto;
}

/*##########*/
/*# FOOTER #*/
/*##########*/

footer {
	margin-top: 19px;
	height: 340px;
	width: 100%;
	background: url("../images/footer.jpg") no-repeat center 23%;
	background-size: cover;
	position: absolute;
	left: 0;
	right: 0;
	color: white;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	padding-top: 50px;
}

footer h3 {
	font-size: 48px;
	font-weight: 100;
}


#underlay {
	margin-top: 49px;
	padding: 19px 10px 9px 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

#team-info {
	margin: 0 auto;
	max-width: 960px;
	text-align: left;
}

#team-info .block-link {
	margin: 0 0 10px;
}

#the-team {
	margin-top: 17px;
	margin-bottom: 8px;
}

/*##############*/
/*# MARGIN FIX #*/
/*##############*/


#location p:last-of-type, #call-for-papers p:last-of-type {
	margin-bottom: 77px;
}


@media (max-width: 654px) {

/* remove nav bar */
	nav {
		display: none;
	}

	body {
		padding: 0;
	}

/* shrink header */

	header {
		padding-top: 90px;
		height: 300px;
	}


	header h1 {
		font-size: 40px;
	}

	header h2 {
		font-size: 20px;
	}

 /* reorganize table*/

 	tr, .schedule-time {
 		display: block;
 	}

 	tr {
 		position: relative;
 		border-top: 1px solid #EEEEEE;
 		border-collapse: collapse;
 		border-spacing: 0;
 		padding-bottom: 0;
 	}

 	.schedule-time {
 		text-align: right;
 		padding: 20px;
 	}

 	.schedule-image {
 		position: absolute;
 		left: 0;
 		top: 0;
 	}

 	.empty {
 		display: block;
 	}

 	td {
 		border: none;
 	}

 	td img {
 		width: 80px;
 	}

 	#speaker-grid {
 		font-size: 0;
 	}

 	figure {
 		margin: 5px 6.5px;
 	}

 	figure img {
 		margin-bottom: 4px;
 	}

 	#speakers {
 		margin: 0;
 	}

}